<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
    <%= t ".by" %> <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
